* {
  box-sizing: border-box;
}
h1{
	margin-left: auto;
	margin-right: auto;
	margin-top: 28px;
	text-align: center;
}

.row{
	width: 100%;
}


.grid{
	position: relative;
	border: 1px solid black;
	width: 90%;
	margin-top: 20px;
	padding: 28px 16px 16px 16px;
	border-radius: 2px;
	background-color: #999999;

}

.text{
	position: absolute;	
	border-top: 0px;
	border-right: 0px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	padding: 2px;
	width: 30%;
	top: 0;
	right: 0;
	border-radius: 2px;
}

.grid1{
	background-color: #d59898;
}

.grid2{
	background-color: #c14543;
}

.grid3{
background-color: #e5d198;

}

@media (max-width:991px) and (min-width: 768px)
{
.col-md-6,.col-md-12{
	float:left;
}

.grid{
margin-left: auto;
	margin-right: auto;
	}

.abc{
width: 95%;
}

.col-md-6{
	width: 50%;
}

.col-md-12{
	width: 100%;
}
}

@media (min-width: 992px)
{
	.col-lg-3{
		float: left;
		width: 33%;
	}

	.grid{
margin-left: auto;
	margin-right: auto;
	}
}  

@media (max-width: 767px)
{
	.col-sm-12{
		width: 100%;
	}

	.grid{
margin-left: auto;
	margin-right: auto;
	}
}